{% extends 'main.html' %}
{% load static %}
{% block content %}

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Мы пишем статьи!</h1>
        <p class="lead fw-normal">На этом сайте вы найдете статьи на различные темы, которые интересуют общественность (а может и не интересуют)</p>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

{% endblock %}